<%# <%= @question %>
<%# <%= @answer %>
<%# <%= link_to "Ask", ask_path %>

<div class="container text-center">
  <h1>Stupid Coach</h1>
  <div class="col-auto">
    <div class="input-group m-3">
      <%= @question %>
    </div>
    <div class="input-group m-3">
      <%= @answer %>
    </div>
    <div class="input-group m-3">
      <%= link_to "Ask", ask_path %>
    </div>
  </div>
</div>